.menu__footer {
    width: 100%;
    left: 0;
    padding: 40px;
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &-link {
        text-decoration: none;
        font-size: 14px;
        color: gray;
        height: 100%;
        width: fit-content;
        transition: transform 0.3s ease-in-out;
        &:hover {
            /* transform: perspective(500px) rotateY(20deg); */
            animation-name: hoverlink;
            animation-duration: 3s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
    }
}

.hero__footer {
    padding: 20px 30px;
    position: fixed;
    bottom: 0;
}

.current {
    font-size: 16px;
    font-weight: 700;
    color: white;
}